@model IEnumerable<MovieIndexViewModel>

<h1>Movies</h1>

<table cellpadding="5">
    <tr>
        <th>Title</th>
    </tr>

    @foreach(var item in Model)
    {
    <tr>
        <td>
            <a asp-controller="Movie"
               asp-action="Detail" 
               asp-route-id="@item.Id">@item.Title</a>
        </td>
    </tr>
    }
</table>

<a asp-action="Create" 
   asp-controller="Movie"
   class="btn btn-primary">
    Create Movie
</a>

